.filter {
  display: flex;

  position: absolute;
  z-index: 1;
  width: 248px;
  height: 305px;
  border-radius: 12px;
  flex-direction: column;
  margin-top: 40px;
  border: 1px solid #313131;
}

.filter_box {
  overflow-y: auto;
  height: 100%;
  margin-left: 34px;
  margin-top: 34px;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.list {
  display: block;
}

.listItem {
  margin-bottom: 28px;
  cursor: pointer;
}
.listItem:hover {
  text-decoration: underline;
  color: #b672ff;
}

.listItem:active {
  text-decoration: underline;
  color: #b672ff;
}

.light {
  background: #f6f5f3;
  color: black;
}

.dark {
  background: #313131;
  color: white;
}
