.login_logo {
  width: 140px;
  height: 21px;
  margin-bottom: 34px;
}
.login_form_input_style {
  width: 278px;
  height: 34px;
  background-color: white;
  border-style: none;
  border-bottom: 1px solid #d0cece;
  margin-bottom: 30px;
  font-family: 'StratosSkyeng', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  color: black;
}
.login_form-login::placeholder {
  color: #e1e1e1;
}

.form {
  display: flex;
  flex-direction: column;
  width: 366px;
  height: 438px;
  background: #ffffff;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
.login_login_button {
  width: 278px;
  height: 52px;
  background: #580ea2;
  border-radius: 6px;
  border-style: none;
  color: white;
  font-family: 'StratosSkyeng', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.login_reg_button {
  width: 278px;
  height: 52px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #d0cece;
  color: black;
  font-family: 'StratosSkyeng', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.login_form {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.85);
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.center {
  margin-left: calc(50% - 183px);
  margin-right: calc(50% - 183px);
}
.login_inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.login_buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
