.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #313131;
  gap: 14px;

  position: absolute;
  width: 403px;
  height: 92px;

  background: #313131;
  border-radius: 12px;
  margin-top: 40px;
  z-index: 1;
}

.input_box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  height: 24px;
}

.input {
  cursor: pointer;
  margin-right: 14px;
  height: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  font-feature-settings: 'pnum' on, 'lnum' on;
}
.input:hover {
  text-decoration: underline;
  color: #b672ff;
}

.radio {
  width: 18px;
  height: 18px;
  margin-right: 2px;
  cursor: pointer;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;

  position: relative;
  background-color: #b672ff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.light {
  background: #f6f5f3;
  color: black;
}

.dark {
  background: #313131;
  color: white;
}
