.trackImg {
  width: 38px;
  height: 38px;
  background-color: #313131;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.melodySvg {
  padding: 10px;
}
.trackInfo {
  display: flex;
  flex-direction: column;
}
.trackData {
  display: flex;
  align-items: center;
  gap: 20px;
}

.likeIcon {
  transition: all 140ms ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
  }
}
