@font-face {
  font-family: 'StratosSkyEng';
  src: local('StratosSkyEng'),
    url('../public/fonts/example stratos font/Stratos-Regular.woff2')
      format('woff2');
  font-weight: 400px;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'StratosSkyeng', sans-serif;
  color: white;

  font-size: 14px;
}
body {
  overflow-y: scroll;
}
